.bg-devminds {
  background: black;
}
.nav-devminds-float-away {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.nav-devminds-transparent {
  background: transparent !important;
}
.navbar {
  text-shadow: none;
}
.navbar-brand {
  text-transform: lowercase;
  font-size: 32px;
  letter-spacing: .15rem;
}

.nav-devminds-transparent .navbar-brand {
  /* background: linear-gradient(to right, rgba(140, 30, 200, .8), rgb(100, 50, 230));
  background-clip: text;
  color: transparent !important;
  -webkit-background-clip: text; */
  color: white;
}
.navbar-toggler {
  border: none !important;
  /* display: flex;
  flex-direction: column; */
  width: 48px;
  height: 48px;
  padding: 0;
  justify-content: center;
}
.navbar-toggler > span {
  margin-bottom: .5rem;
  height: 3px;
  border-radius: 3px;
  background: linear-gradient(to right, rgba(140, 30, 200, .8), rgb(100, 50, 230));
  transition: width .5s, margin-left .5s;
  /* width: 65%; */
  display: block;
  margin-left: 20%;
}
.navbar-toggler >span:nth-child(2) {
  /* width: 90%; */
  background: linear-gradient(to right, rgba(255, 30, 50, .8), rgb(170, 30, 100));
  margin-left: 35%;
}
.navbar-toggler > span:nth-child(3) {
  /* width: 80%; */
  margin-bottom: 0;
  background: linear-gradient(to right, rgba(30, 200, 140, .8), rgb(50, 130, 150));
  margin-left: 10%;
}

.navbar-toggler.collapsed > span {
  width: 80%; /* chrome doesn't display them unless one of them has a specific width?! */
  margin-left: 0;
}
.navbar-toggler.collapsed > span:nth-child(2) {
  width: 65%;
  margin-left: 0;
}
.navbar-toggler.collapsed >span:nth-child(3) {
  width: 90%;
  margin-left: 0;
}

.overlay-navigation-wrapper {
  position: fixed;
  height: 100vh;
  width: 0px;
  right: 0;
  top: 0;
  z-index: 9999;
  background-color: #242a30 ; /* Black fallback color */
  /* background-color: rgba(0,0,0, 0.9); */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  /* display: none; */
  color: white;
}

.overlay-navigation-wrapper.show {
  width: 280px;
  /* display: block; */
}
body > .container {
  transform: translateX(0px);
  transition: transform .5s;
}

.overlay-navigation-wrapper.show ~ .container {
  transform: translateX(-200px);
}
.devminds-nav {
  transform: translateX(0px);
  transition: transform .5s;
}
body.show-navbar .devminds-nav {
  transform: translateX(-280px);
}
.overlay-navigation-close {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  outline: none !important;
  cursor: pointer;
}

button.overlay-navigation-close span {
  height: 3px;
  border-radius: 5px !important;
  background: linear-gradient(to right, rgba(140, 30, 200, .8), rgb(100, 50, 230));
  width: 48px;
  margin-bottom: 10px;
  transform-origin: 50% 10%;
  transition: transform .5s ease-out;
}
button.overlay-navigation-close span:nth-child(2) {
  transform-origin: 10% 50%;
  background: linear-gradient(to right,rgb(100, 50, 230), rgba(140, 30, 200, .8));
}

.overlay-navigation-wrapper.show button.overlay-navigation-close span {
  transform: rotate(45deg);
}
.overlay-navigation-wrapper.show button.overlay-navigation-close span:nth-child(2) {
  transform: rotate(-45deg);
}
.overlay-navigation-wrapper .overlay-navigation-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.overlay-navigation-content a {
  display: block;
  margin: .5rem auto;
  color: white;
}
.overlay-navigation-content .btn {
  /* display: inline-block; */
  max-width: 100px;
  margin: .5rem auto;
}

.overlay-navigation-bottom-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  max-width: 767px;
  transform: translateX(-50%);
}
.card {
  filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, .12));
}